.errorPage {
  height: 57vh;
}

.Opps {
  color: var(--smoky-black);
}

.imgNF {
  width: 20%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.oops-p {
  font-size: 1.2rem;
  color: var(--smoky-black);
}